.bgPulse {
    position: absolute;
    min-height:100%;
    min-width:100%;
    margin: 0%;
    padding:0%;
    width: 100%;
    max-height:max-content;
    top:0;
    left:0;
    overflow: hidden;
    z-index: -1;
}


.bgPulse span {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #fff;
    animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(3n+1)
{
    background: transparent;
    border: 5px solid #fff;

}

.bgPulse span:nth-child(1)
{
    top: 50%;
    left: 20%;
    animation: animate 10s linear infinite;

}
.bgPulse span:nth-child(2)
{
    top: 80%;
    left: 40%;
    animation: animate 12s linear infinite;
    
}
.bgPulse span:nth-child(3)
{
    top: 10%;
    left: 65%;
    animation: animate 15s linear infinite;
    
}
.bgPulse span:nth-child(4)
{
    top: 50%;
    left: 70%;
    animation: animate 6s linear infinite;
}
.bgPulse span:nth-child(5)
{
    top: 10%;
    left: 30%;
    animation: animate 9s linear infinite;
}
.bgPulse span:nth-child(6)
{
    top: 90%;
    left: 85%;
    animation: animate 8s linear infinite;
}
.bgPulse span:nth-child(7)
{
    top: 80%;
    left: 50%;
    animation: animate 5 linear infinite;
}
.bgPulse span:nth-child(8)
{
    top: 35%;
    left: 86%;
    animation: animate 14s linear infinite;
}
.bgPulse span:nth-child(9)
{
    top: 5%;
    left: 5%;
    animation: animate 11s linear infinite;
}
.bgPulse span:nth-child(10)
{
    top: 25%;
    left: 80%;
    animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(11)
{
    top: 90%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.bgPulse span:nth-child(12)
{
    top: 33%;
    left: 15%;
    animation: animate 4s linear infinite;
}
.bgPulse span:nth-child(13)
{
    top: 70%;
    left: 80%;
    animation: animate 7s linear infinite;
}
.bgPulse span:nth-child(14)
{
    top: 80%;
    left: 7%;
    animation: animate 3s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%
    {
        transform: scale(1) translateY(-100px) rotate(360deg);
        opacity: 0;
    }
}