<div class="title container">
  <br>
  <div class="row justify-content-md-center">
    <h1 class="col-md-12 text-center">
      <span class="letter">N</span>
      <span class="letter">o</span>
      <span class="letter">t</span>
      <span class="letter">S</span>
      <span class="letter">o</span>
      <span class="letter">B</span>
      <span class="letter">o</span>
      <span class="letter">r</span>
      <span class="letter">e</span>
      <span class="letter">d</span>
      <br>
      <br>
      <span class="letter">G</span>
      <span class="letter">a</span>
      <span class="letter">m</span>
      <span class="letter">e</span>
      <span class="letter">s</span>
    </h1>
  </div>
</div>
