#readyButton {
    margin-left: 425px;
    margin-top: 0px;
    align-content: center;
}

#readyButton {
    background-color: transparent;
    display: inline-block;
    padding: 0.6em 2em;
    border: 0.05em solid #ffffff;
    position: absolute;
    cursor: pointer;
    border-radius: 0.8em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 200;
    font-size: 33px;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s;
}

#readyButton:hover {
    color: grey;
    background-color: #ffffff;
}

@media all and (max-width: 30em) {
    #readyButton {
        display: block;
        margin: 0.4em auto;
    }
}