<app-navbar></app-navbar>

<div class="title container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 align-self-center">
        <app-title2></app-title2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-evenly button-group">
        <div class="col-md-6 mx-auto align-self-end buttons text-center">
            <a routerLink="/memorygame" class="text-center btn button">MEMORY GAME</a>
        </div>
        <div class="col-md-6 mx-auto align-self-end buttons text-center">
            <a routerLink="/connect4" class="text-center btn button">CONNECT 4</a>
        </div>
    </div>
    <div>
        <p class="alt">Sorry! Games are only available on PC </p>
    </div>
</div>


